{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- Inner page header container -->
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>You can't order</h2>
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>You can't order</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- Inner page container -->
    <section class="inner-page">
        <div class="container">
            <h3>
               Sign in with a <u>customer</u> account to give an order.
            </h3>
        </div>
    </section>
</main><!-- End #main -->


<script>
    function redirect(){
       window.location.href = "{% url 'home' %}";
    }

    setTimeout(redirect, 3000);
</script>

{% endblock %}