{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- Inner page header container -->
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Cart</h2>
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Cart</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- Inner page container -->
    <section class="inner-page">
        <div class="container">
            <div style="float: right;">
                <a href="{% url 'cart' restaurant.restname %}">
                    <img src="{% static 'images/cart.png' %}" height="50" weight="50">
                </a>
                <br>
                <h6 style="float: right" id="cart-total">Items: {{cartItems}}</h6>
            </div>
            <a href="{% url 'store' restaurant.restname %}">
                <button class="btn btn-sm btn-outline-light">&#x2190; Continue Shopping</button>
            </a>
            <hr>
            <div class="d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="box-element">
                        <h2 style="text-align: center"><b>Your Order</b></h2>
                        <hr>
                        {% for item in items %}
                        <div class="cart-row">
                            <section id="menu" class="menu section-bg">
                                <div class="container">
                                    <img src="{{item.product.image.url}}" class="menu-img" alt="">
                                    <div class="menu-content">
                                        <a href="#">{{item.product.name}}</a><span>${{item.product.price|floatformat:2}}</span>
                                    </div>
                                    <div class="menu-ingredients">
                                        <h4>&#215; {{item.quantity}}</h4>
                                        <div class="quantity">
                                            <button data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" style=" border-color: transparent;  color: #cda45e; background-color: transparent; border-radius:50%"><i class="fas fa-sort-up fa-3x"></i></button>
                                            <h6> </h6>
                                            <button data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" style=" border-color: transparent;  color: #cda45e; background-color: transparent; border-radius:50%"><i class="fas fa-caret-down fa-3x"></i></button>
                                        </div>
                                    </div>
                                    <div class="menu-ingredients">
                                        <div class="btns">
                                            <button data-product="{{item.product.id}}" data-action="remove" class="btn btn-sm btn-outline-success delete-btn update-cart" style="float: right;">Remove from Cart</button>
                                        </div>
                                    </div>
                            </section>
                        </div>
                        {% endfor %}
                        <hr>
                        <h5 style="text-align: left; width:37%; display: inline-block;">Items: {{order.get_cart_items}}</h5>
                        <h5 style="text-align: middle; width:31%;  display: inline-block;"> <a href="{% url 'checkout' restaurant.restname %}">
                                <button class="btn btn-success">Checkout</button>
                            </a></h5>
                        <h5 style="text-align: right; width:30%;  display: inline-block;">Total: ${{order.get_cart_total|floatformat:2}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}