{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- Inner page header container -->
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
            </div>
        </div>
    </section>
    <!-- Inner page container -->
    <section class="inner-page">
        <div class="container">
            <p>
             <h1 style="color:green"><b>Change Password</b> </h1>
                <br>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-lg " style="background-color: #4CAF50; width: 200px; height: 40px;"> Change Password </button>
                </form>
            </p>
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}