{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- Inner page header container -->
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Checkout</h2>
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Checkout</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- Inner page container -->
    <section class="inner-page">
        <div class="container">
            <a href="{% url 'cart' %}">
                <button class="btn btn-sm btn-outline-light">&#x2190; Back to Cart</button>
            </a>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <div class="box-element">
                        <div class="d-flex justify-content-center">
                            <h3>Order Summary</h3>
                        </div>
                        <hr>
                        {% for item in items %}
                        <div class="cart-row">
                            <section id="menu" class="menu section-bg">
                                <img src="{{item.product.image.url}}" class="menu-img" alt="">
                                <div class="menu-content">
                                    <a href="#">{{item.product.name}}</a><span>${{item.product.price|floatformat:2}}</span>
                                </div>
                                <div class="menu-ingredients">
                                    x{{item.quantity}}
                                </div>
                            </section>
                        </div>
                        {% endfor %}
                        <h5 style="float: right">Items: {{order.get_cart_items}}</h5>
                        <br>
                        <br>
                        <h5 style="float: right">Total: ${{order.get_cart_total|floatformat:2}}</h5>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box-element" id="form-wrapper">
                        <form id="form">
                            <div id="user-info">
                                <br>
                                <br>
                                <br>
                                <div class="form-field">
                                    <input required class="form-control" type="text" name="name" placeholder="Name..">
                                </div>
                                <div class="form-field">
                                    <input required class="form-control" type="email" name="email" placeholder="Email..">
                                </div>
                            </div>
                            <div id="shipping-info">
                                <hr>
                                <p>Shipping Information:</p>
                                <hr>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="address" placeholder="Address..">
                                </div>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="city" placeholder="City..">
                                </div>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="state" placeholder="State..">
                                </div>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                                </div>
                                <div class="form-field">
                                    <input class="form-control" type="text" name="country" placeholder="Zip code..">
                                </div>
                            </div>
                            <hr>
                            <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                        </form>
                    </div>
                    <br>
                    <div class="box-element hidden" id="payment-info">
                        <small>Payment Options</small>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}