{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- Inner page header container -->
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Delete Profile</h2>
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Delete Profile</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- Inner page container -->
    <section class="inner-page">
        <div class="container">
            <h5>Are you sure you want to delete your profile?</h5>
            <form action="{% url 'delete_profile' user.id %}" method="POST">
                {% csrf_token %}
                <a href="{% url 'account' %}" class="btn btn-sm btn-outline-secondary">Cancel</a>
                <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger delete-btn">
            </form>
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}