{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- Inner page header container -->
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Review Details</h2>
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Review Details</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- Inner page container -->
    <section class="inner-page">
        <div class="container">
            <p>


  <h1>{{post.title}}</h1>
<small>By: {{post.author}}</small><br/>
<hr>
<br/>
{{post.body}}

	<br/><br/>
	<a href="{% url 'home' %}">Back to Home</a>

            </p>
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}