{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
            <div class="col-lg-8">
                <h1>Welcome to <span>HungerZone</span></h1>
                <h2>Delivering great food for more than 2 days!</h2>
            </div>
        </div>
    </div>
</section><!-- End Hero -->
<main id="main">
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <br>
                <div class="row justify-content-center">
                    <p>Choose A Cuisine</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-2">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        <a href="{% url 'pizza' %}">
                            <div class="row justify-content-center">
                                <img src="{% static 'images/pizza.png' %}" height="100">
                            </div>
                            <div class="row justify-content-center">
                                <h4>Pizza</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        <a href="{% url 'fastfood' %}">
                            <div class="row justify-content-center">
                                <img src="{% static 'images/fastfood.png' %}" height="100">
                            </div>
                            <div class="row justify-content-center">
                                <h4>Fast Food</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        <a href="{% url 'asian' %}">
                            <div class="row justify-content-center">
                                <img src="{% static 'images/asian.png' %}" height="100">
                            </div>
                            <div class="row justify-content-center">
                                <h4>Asian</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        <a href="{% url 'bakery' %}">
                            <div class="row justify-content-center">
                                <img src="{% static 'images/bakery.png' %}" height="100">
                            </div>
                            <div class="row justify-content-center">
                                <h4>Bakery</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        <a href="{% url 'dessert' %}">
                            <div class="row justify-content-center">
                                <img src="{% static 'images/dessert.png' %}" height="100">
                            </div>
                            <div class="row justify-content-center">
                                <h4>Dessert</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>All Restaurants</h2>
                <p>Choose A Restaurant</p>
            </div>
            <div class="row">
                {% for restaurant in restaurants %}
                <div class="col-lg-4">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                        <a href="{% url 'store' restaurant.restname %}">
                            <div class="row justify-content-center">
                                <img src="{{restaurant.logo.url}}" height="100">
                            </div>
                            <div class="row justify-content-center">
                                <h4>{{restaurant.restname}}</h4>
                            </div>
                        </a>
                    </div>
                    <br>
                </div>
                {% endfor %}
            </div>
        </div>
    </section><!-- End Why Us Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Testimonials</h2>
                <p>What they're saying about us</p>
            </div>
            <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="100">
                <div class="testimonial-item">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Best desinged website ever!
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                    <h3>Saul Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                </div>
                <div class="testimonial-item">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Has great restaurants, with great foods and fast delivery!
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                    <h3>Sara Wilsson</h3>
                    <h4>Designer</h4>
                </div>
                <div class="testimonial-item">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        I have never seen a better functioning website! Though it might be because I am blind.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                    <h3>Jena Karlis</h3>
                    <h4>Store Owner</h4>
                </div>
                <div class="testimonial-item">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Great website to order from!
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                    <h3>Matt Brandon</h3>
                    <h4>Freelancer</h4>
                </div>
            </div>
        </div>
    </section><!-- End Testimonials Section -->
</main><!-- End #main -->
{% endblock %}