{% load static %}
<!-- Template Main CSS File -->
<link href="{% static 'assets/css/style.css'%}" rel="stylesheet">
<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <h1 class="logo mr-auto"><a href="{% url 'home' %}">HungerZone</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                {% if request.user.customer %}
                <li><a href="{% url 'restaurant_search' %}">Restaurants</a></li>
                <li><a href="{% url 'mypage' %}">My Page</a></li>
                <li><a href="{% url 'account' %}">Profile</a></li>
                {% endif %}
                {% if not request.user.is_authenticated %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'signin' %}">Sign In</a></li>
                {% endif %}
                {% if request.user.restaurant %}
                <li><a href="{% url 'restOwner' %}">Your Restaurant</a></li>
                <li><a href="{% url 'changepassword' %}">Change Password</a></li>
                {% endif %}
                {% if request.user.admin %}
                <li><a href="{% url 'adminpage' %}">Admin Board</a></li>
                <li><a href="{% url 'changepassword' %}">Change Password</a></li>
                {% endif %} 
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'signout' %}">Sign Out</a></li>
                {% endif %}
                {% if not request.user.is_authenticated %}
                <li class="book-a-table text-center"><a href="{% url 'registration' %}">Become A Partner</a></li>
                {% endif %}
            </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->
<!-- End Header -->