{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- Inner page header container -->
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Reset Your Password</h2>
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Password Reset</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- Inner page container -->
    <section class="inner-page">
        <div class="container">
            <h2 style="color: #f0cd6c"><b>Have you forgot your password?</b></h2>
            <br>
            <h6>Please enter your email address below, and check your inbox for a password reset email.</h6>
            <br>
            <form method="post">
                {% csrf_token %}
                {{form}}
                <input type="Submit" value="Send an email">
            </form>
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}