{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- Inner page header container -->
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
        </div>
    </section>
    <!-- Inner page container -->
    <section class="inner-page">
        <div class="container">
            <h2 style="color: #f0cd6c"><b>Password reset has been completed!</b></h2>
            <br>
            <h6>Your password has been set. You may go ahead and <a href="{% url 'signin' %}">Sign in</a> with your new password now.</h6>
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}