{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- Inner page header container -->
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
        </div>
    </section>
    <!-- Inner page container -->
    <section class="inner-page">
        <div class="container">
            <h2 style="color: #f0cd6c"><b>Please enter your new password below:</b></h2>
            <br>
            <form method="post">
                {% csrf_token %}
                {{form}}
                <input type="Submit" value="Change Password">
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}