{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- Inner page header container -->
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
        </div>
    </section>
    <!-- Inner page container -->
    <section class="inner-page">
        <div class="container">
            <h2 style="color: #f0cd6c"><b>Your password reset email has been sent!</b></h2>
         <br>
            <h6><span>&#187;</span> If an account exists in the system with the email you entered, you should receive the email shortly.</h6>
            <br>
            <h6><span>&#187;</span> If you don’t receive an email, please make sure you’ve entered the address you registered with.</h6>
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}