{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- Inner page header container -->
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Restaurant</h2>
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Restaurant</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- Inner page container -->
    <section class="inner-page">
        <div class="container">
            <!-- ======= Specials Section ======= -->
            <section id="specials" class="specials">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Your</h2>
                        <p>Restaurant Page</p>
                    </div>
                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-3">
                            <ul class="nav nav-tabs flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="tab" href="#tab-1">Menu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-2">Reviews</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-3">Photos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-4">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-5">Add Product</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-9 mt-4 mt-lg-0">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="tab-1">
                                    <!-- ======= Menu Section ======= -->
                                    <section id="menu" class="menu section-bg">
                                        <div class="container" data-aos="fade-up">
                                            <div class="section-title">
                                                <h2>Menu</h2>
                                                <p>Your Tasty Menu</p>
                                            </div>
                                            <div class="row" data-aos="fade-up" data-aos-delay="100">
                                                <div class="col-lg-12 d-flex justify-content-center">
                                                    <ul id="menu-flters">
                                                        <li data-filter="*" class="filter-active">All</li>
                                                        <li data-filter=".filter-starters">Starters</li>
                                                        <li data-filter=".filter-salad">Salads</li>
                                                        <li data-filter=".filter-specialty">Specialty</li>
                                                        <li data-filter=".filter-desserts">Desserts</li>
                                                        <li data-filter=".filter-drinks">Drinks</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
                                                {% for product in products %}
                                                {% if product.category == 'Starter' and product.isVisible == True %}
                                                <div class="col-lg-6 menu-item filter-starters">
                                                    <img src="{{product.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a>{{product.name}}</a><span>${{product.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{product.description}}
                                                    </div>
                                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="float: right;">
                                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                                            <a class="btn btn-sm btn-outline-success update-btn" style="float: right;" href="{% url 'update_product' product.id %}">Update</a>
                                                        </div>
                                                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                                                            <a class="btn btn-sm btn-outline-danger delete-btn" style="float: right;" href="{% url 'delete_product' product.id %}">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                                {% for product in products %}
                                                {% if product.category == 'Salad' and product.isVisible == True %}
                                                <div class="col-lg-6 menu-item filter-salad">
                                                    <img src="{{product.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a>{{product.name}}</a><span>${{product.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{product.description}}
                                                    </div>
                                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="float: right;">
                                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                                            <a class="btn btn-sm btn-outline-success update-btn" style="float: right;" href="{% url 'update_product' product.id %}">Update</a>
                                                        </div>
                                                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                                                            <a class="btn btn-sm btn-outline-danger delete-btn" style="float: right;" href="{% url 'delete_product' product.id %}">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                                {% for product in products %}
                                                {% if product.category == 'Specialty' and product.isVisible == True %}
                                                <div class="col-lg-6 menu-item filter-specialty">
                                                    <img src="{{product.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a>{{product.name}}</a><span>${{product.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{product.description}}
                                                    </div>
                                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="float: right;">
                                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                                            <a class="btn btn-sm btn-outline-success update-btn" style="float: right;" href="{% url 'update_product' product.id %}">Update</a>
                                                        </div>
                                                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                                                            <a class="btn btn-sm btn-outline-danger delete-btn" style="float: right;" href="{% url 'delete_product' product.id %}">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                                {% for product in products %}
                                                {% if product.category == 'Dessert' and product.isVisible == True %}
                                                <div class="col-lg-6 menu-item filter-desserts">
                                                    <img src="{{product.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a>{{product.name}}</a><span>${{product.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{product.description}}
                                                    </div>
                                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="float: right;">
                                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                                            <a class="btn btn-sm btn-outline-success update-btn" style="float: right;" href="{% url 'update_product' product.id %}">Update</a>
                                                        </div>
                                                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                                                            <a class="btn btn-sm btn-outline-danger delete-btn" style="float: right;" href="{% url 'delete_product' product.id %}">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                                {% for product in products %}
                                                {% if product.category == 'Drink' and product.isVisible == True %}
                                                <div class="col-lg-6 menu-item filter-drinks">
                                                    <img src="{{product.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a>{{product.name}}</a><span>${{product.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{product.description}}
                                                    </div>
                                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="float: right;">
                                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                                            <a class="btn btn-sm btn-outline-success update-btn" style="float: right;" href="{% url 'update_product' product.id %}">Update</a>
                                                        </div>
                                                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                                                            <a class="btn btn-sm btn-outline-danger delete-btn" style="float: right;" href="{% url 'delete_product' product.id %}">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </section><!-- End Menu Section -->
                                </div>
                                <div class="tab-pane" id="tab-2">
                                    <div class="section-title">
                                        <h2>Reviews</h2>
                                        <p>Your Reviews</p>
                                        <ul>
                                            {% if reviews %}
                                            {% for review in reviews reversed %}
                                            <hr class='white'>
                                            <h3 style="color: #f0cd6c"><b>{{review.author.name}} - {{review.date_added}}</b></h3>
                                            <h6>{{review.body}}</h6>
                                            <a href="{% url 'add_comment' review.id %}"> <button class="btn btn-sm btn-outline-success">Reply to Review</button></a>
                                            <a href="{% url 'delete_review' review.id %}"> <button class="btn btn-sm btn-outline-danger">Delete Review</button></a>
                                            <br>
                                            {% if review.comments %}
                                            {% for comment in review.comments.all %}
                                            <hr class='white'>
                                            <h5 style="color: #f0cd6c"><span style="width:25px;display:inline-block"></span> <i class="fas fa-angle-double-right fa-lg"></i><b> {{comment.author.restname}} - {{comment.date_added}}</b></h5>
                                            <h6><span style="width:55px;display:inline-block"></span> {{comment.body}} </h6>
                                            <a href="{% url 'delete_comment' comment.id %}"> <span style="width:60px;display:inline-block"></span><button class="btn btn-sm btn-outline-danger">Delete Reply</button></a>
                                            {% endfor %}
                                            {% endif %}
                                            <hr class='white'>
                                            {% endfor %}
                                            {% else %}
                                        </ul>
                                        <hr class="white">
                                        <br>
                                        <h3>You don't have any reviews yet.</h3>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-3">
                                    <div class="section-title">
                                        <h2>Gallery</h2>
                                        <p>Your Photos</p>
                                        <br>
                                        <!-- ======= Gallery Section ======= -->
                                        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
                                            <div class="row no-gutters">
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image1.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image1.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image2.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image2.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image3.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image3.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image4.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image4.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image5.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image5.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image6.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image6.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image7.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image7.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image8.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image8.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-4">
                                    <div class="section-title">
                                        <h2>Orders</h2>
                                        <p>Your Orders</p>
                                        {% if orders %}
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-8 details order-2 order-lg-1">
                                                <table cellpadding="5" style="border: 1px solid white; text-align: center">
                                                    <tr style="border: 1px solid white;">
                                                        <th>
                                                            <h6 style="font-size: 17px">Name</h6>
                                                        </th>
                                                        <th>
                                                            <h6 style="font-size: 17px">Surname</h6>
                                                        </th>
                                                        <th>
                                                            <h6 style="font-size: 17px">Address</h6>
                                                        </th>
                                                        <th>
                                                            <h6 style="font-size: 17px">City</h6>
                                                        </th>
                                                        <th>
                                                            <h6 style="font-size: 17px">Phone</h6>
                                                        </th>
                                                        <th>
                                                            <h6 style="font-size: 17px">Transaction Id</h6>
                                                        </th>
                                                        <th>
                                                            <h6 style="font-size: 17px">Date Ordered</h6>
                                                        </th>
                                                        <th>
                                                            <h6 style="font-size: 17px">Order</h6>
                                                        </th>
                                                        <th>
                                                            <h6 style="font-size: 17px">Total</h6>
                                                        </th>
                                                    </tr>
                                                    {% for order in orders reversed %}
                                                    <tr style="border: 1px solid white;">
                                                        <td>
                                                            <h6 style="font-size: 17px">{{order.customer.name}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 style="font-size: 17px">{{order.customer.surname}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 style="font-size: 17px">{{order.customer.address}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 style="font-size: 17px">{{order.customer.city}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 style="font-size: 17px">{{order.customer.phone}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 style="font-size: 17px">{{order.transaction_id}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 style="font-size: 17px">{{order.date_ordered}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 style="font-size: 14px">{{order.get_cart_item_names}}</h6>
                                                        </td>
                                                        <td>
                                                            <h6 style="font-size: 14px">Total: ${{order.get_cart_total|floatformat:2}}</h6>
                                                        </td>
                                                    <tr>
                                                        {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                        {% else %}
                                        <hr class="white">
                                        <br>
                                        <h3>You have no orders yet.</h3>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-5">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <div class="btn">
                                                <a class="btn btn-lg btn-outline-success update-btn" href="{% url 'create_product' %}" style="float: center;">Add New Product To Menu</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section><!-- End Specials Section -->
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}