{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- Inner page header container -->
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>{{restaurant.restname}}</h2>
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>{{restaurant.restname}}</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- Inner page container -->
    <section class="inner-page">
        <div class="container">
            <div style="float: right;">
                <a href="{% url 'cart' restaurant.restname %}">
                    <img src="{% static 'images/cart.png' %}" height="50" weight="50">
                </a>
                <br>
                <h6 style="float: right" id="cart-total">Items: {{cartItems}}</h6>
            </div>
            <!-- ======= Specials Section ======= -->
            <section id="specials" class="specials">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <div class="row">
                            <h2>Specials</h2>
                        </div>
                        <div class="row">
                            <p>{{restaurant.restname}} </p>
                            <form action="{% url 'favorite' restaurant.restname %}" method="POST">
                                {% csrf_token %}
                                {% if favorited %}
                                <button type="submit" name="favorite" value="{{ restaurant.restname }}" style=" border-color: transparent;  color: #cda45e; background-color: transparent; border-radius:50%"><i class="fas fa-heart fa-3x"></i></button>
                                {% else %}
                                <button type="submit" name="favorite" value="{{ restaurant.restname }}" style=" border-color: transparent; color: #cda45e; background-color: transparent; border-radius:50%"><i class="far fa-heart fa-3x"></i></button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-3">
                            <ul class="nav nav-tabs flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="tab" href="#tab-1">Menu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-2">Reviews</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-3">Photos</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-9 mt-4 mt-lg-0">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="tab-1">
                                    <!-- ======= Menu Section ======= -->
                                    <section id="menu" class="menu section-bg">
                                        <div class="container" data-aos="fade-up">
                                            <div class="section-title">
                                                <h2>Menu</h2>
                                                <p>Check Our Tasty Menu</p>
                                            </div>
                                            <div class="row" data-aos="fade-up" data-aos-delay="100">
                                                <div class="col-lg-12 d-flex justify-content-center">
                                                    <ul id="menu-flters">
                                                        <li data-filter="*" class="filter-active">All</li>
                                                        <li data-filter=".filter-starters">Starters</li>
                                                        <li data-filter=".filter-salad">Salads</li>
                                                        <li data-filter=".filter-specialty">Specialty</li>
                                                        <li data-filter=".filter-desserts">Desserts</li>
                                                        <li data-filter=".filter-drinks">Drinks</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
                                                {% for starter in starters %}
                                                {% if starter.isVisible == True %}
                                                <div class="col-lg-6 menu-item filter-starters">
                                                    <img src="{{starter.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a href="#">{{starter.name}}</a><span>${{starter.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{starter.description}}
                                                    </div>
                                                    <div class="btns">
                                                        <button data-product="{{starter.id}}" data-action="add" class="btn btn-sm btn-outline-success add-btn update-cart" style="float: right;">Add to Cart</button>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                                {% for salad in salads %}
                                                {% if salad.isVisible == True %}
                                                <div class="col-lg-6 menu-item filter-salad">
                                                    <img src="{{salad.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a href="#">{{salad.name}}</a><span>${{salad.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{salad.description}}
                                                    </div>
                                                    <div class="btns">
                                                        <button data-product="{{salad.id}}" data-action="add" class="btn btn-sm btn-outline-success add-btn update-cart" style="float: right;">Add to Cart</button>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                                {% for specialty in specialties %}
                                                {% if specialty.isVisible == True %}
                                                <div class="col-lg-6 menu-item filter-specialty">
                                                    <img src="{{specialty.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a href="#">{{specialty.name}}</a><span>${{specialty.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{specialty.description}}
                                                    </div>
                                                    <div class="btns">
                                                        <button data-product="{{specialty.id}}" data-action="add" class="btn btn-sm btn-outline-success add-btn update-cart" style="float: right;">Add to Cart</button>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                                {% for dessert in desserts %}
                                                {% if dessert.isVisible == True %}
                                                <div class="col-lg-6 menu-item filter-desserts">
                                                    <img src="{{dessert.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a href="#">{{dessert.name}}</a><span>${{dessert.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{dessert.description}}
                                                    </div>
                                                    <div class="btns">
                                                        <button data-product="{{dessert.id}}" data-action="add" class="btn btn-sm btn-outline-success add-btn update-cart" style="float: right;">Add to Cart</button>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                                {% for drink in drinks %}
                                                {% if drink.isVisible == True %}
                                                <div class="col-lg-6 menu-item filter-drinks">
                                                    <img src="{{drink.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a href="#">{{drink.name}}</a><span>${{drink.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{drink.description}}
                                                    </div>
                                                    <div class="btns">
                                                        <button data-product="{{drink.id}}" data-action="add" class="btn btn-sm btn-outline-success add-btn update-cart" style="float: right;">Add to Cart</button>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </section><!-- End Menu Section -->
                                </div>
                                <div class="tab-pane" id="tab-2">
                                    <div class="section-title">
                                        <h2>Reviews</h2>
                                        <a href="{% url 'add_review' restaurant.restname %}"> <button class="btn btn-lg btn-outline-success add-btn" style="float: right">Add a Review</button></a>
                                        <p>Reviews for {{restaurant.restname}}</p>
                                        <br>
                                        <ul>
                                            {% if reviews %}
                                            {% for review in reviews reversed %}
                                            <hr class='white'>
                                            <h3 style="color: #f0cd6c"><b>{{review.author.name}} - {{review.date_added}}</b></h3>
                                            <h6>{{review.body}}</h6>
                                            {% if review.comments %}
                                            {% for comment in review.comments.all %}
                                            <hr class='white'>
                                            <h5 style="color: #f0cd6c"><span style="width:25px;display:inline-block"></span> <i class="fas fa-angle-double-right fa-lg"></i><b> {{comment.author.restname}} - {{comment.date_added}}</b></h5>
                                            <h6><span style="width:55px;display:inline-block"></span> {{comment.body}} </h6>
                                            {% endfor %}
                                            {% endif %}
                                            <hr class='white'>
                                            {% endfor %}
                                            {% else %}
                                        </ul>
                                        <hr class="white">
                                        <br>
                                        <h3>This restaurant has no reviews yet.</h3>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-3">
                                    <div class="section-title">
                                        <h2>Gallery</h2>
                                        <p>Photos from {{restaurant.restname}}</p>
                                        <br>
                                        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
                                            <div class="row no-gutters">
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image1.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image1.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image2.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image2.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image3.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image3.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image4.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image4.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image5.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image5.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image6.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image6.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image7.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image7.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image8.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image8.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</main><!-- End #main -->
{% endblock %}