{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- Inner page header container -->
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>{{restaurant.restname}}</h2>
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>{{restaurant.restname}}</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- Inner page container -->
    <section class="inner-page">
        <div class="container">
            <img src="{% static 'images/cart.jpg' %}" height="50" weight="50">
            <p id="cart-total">{{cartItems}}</p>
            <!-- ======= Specials Section ======= -->
            <section id="specials" class="specials">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Specials</h2>
                        <p>{{restaurant.restname}}</p>
                    </div>
                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-3">
                            <ul class="nav nav-tabs flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="tab" href="#tab-1">Menu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-2">Reviews</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-3">Photos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-4">Cart</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-5">Checkout</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-9 mt-4 mt-lg-0">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="tab-1">
                                    <!-- ======= Menu Section ======= -->
                                    <section id="menu" class="menu section-bg">
                                        <div class="container" data-aos="fade-up">
                                            <div class="section-title">
                                                <h2>Menu</h2>
                                                <p>Check Our Tasty Menu</p>
                                            </div>
                                            <div class="row" data-aos="fade-up" data-aos-delay="100">
                                                <div class="col-lg-12 d-flex justify-content-center">
                                                    <ul id="menu-flters">
                                                        <li data-filter="*" class="filter-active">All</li>
                                                        <li data-filter=".filter-starters">Starters</li>
                                                        <li data-filter=".filter-salad">Salads</li>
                                                        <li data-filter=".filter-specialty">Specialty</li>
                                                        <li data-filter=".filter-desserts">Desserts</li>
                                                        <li data-filter=".filter-drinks">Drinks</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
                                                {% for starter in starters %}
                                                <div class="col-lg-6 menu-item filter-starters">
                                                    <img src="{{starter.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a href="#">{{starter.name}}</a><span>${{starter.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{starter.description}}
                                                    </div>
                                                    <div class="btns">
                                                        <button data-product="{{starter.id}}" data-action="add" class="btn btn-sm btn-outline-success add-btn update-cart" style="float: right;">Add to Cart</button>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                {% for salad in salads %}
                                                <div class="col-lg-6 menu-item filter-salad">
                                                    <img src="{{salad.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a href="#">{{salad.name}}</a><span>${{salad.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{salad.description}}
                                                    </div>
                                                    <div class="btns">
                                                        <button data-product="{{salad.id}}" data-action="add" class="btn btn-sm btn-outline-success add-btn update-cart" style="float: right;">Add to Cart</button>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                {% for specialty in specialties %}
                                                <div class="col-lg-6 menu-item filter-specialty">
                                                    <img src="{{specialty.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a href="#">{{specialty.name}}</a><span>${{specialty.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{specialty.description}}
                                                    </div>
                                                    <div class="btns">
                                                        <button data-product="{{specialty.id}}" data-action="add" class="btn btn-sm btn-outline-success add-btn update-cart" style="float: right;">Add to Cart</button>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                {% for dessert in desserts %}
                                                <div class="col-lg-6 menu-item filter-desserts">
                                                    <img src="{{dessert.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a href="#">{{dessert.name}}</a><span>${{dessert.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{dessert.description}}
                                                    </div>
                                                    <div class="btns">
                                                        <button data-product="{{dessert.id}}" data-action="add" class="btn btn-sm btn-outline-success add-btn update-cart" style="float: right;">Add to Cart</button>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                {% for drink in drinks %}
                                                <div class="col-lg-6 menu-item filter-drinks">
                                                    <img src="{{drink.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a href="#">{{drink.name}}</a><span>${{drink.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{drink.description}}
                                                    </div>
                                                    <div class="btns">
                                                        <button data-product="{{drink.id}}" data-action="add" class="btn btn-sm btn-outline-success add-btn update-cart" style="float: right;">Add to Cart</button>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </section><!-- End Menu Section -->
                                </div>
                                <div class="tab-pane" id="tab-2">
                                    <div class="row">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'add_post' %}"> Add comment</a>
                                        </li>
                                        <ul>
                                            {% for post in posts %}
                                            <li><a href="{% url 'd-detail' post.pk %}">{{post.title}} - </a> {{post.author}}
                                                <br />
                                                {{post.body}}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-3">
                                    <div class="row">
                                        <div class="col-lg-8 details order-2 order-lg-1">
                                            <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                                            <p class="font-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                                            <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                                        </div>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img src="{% static 'assets/img/specials-3.png' %}" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-4">
                                    <div class="row">
                                        <div class="col-lg-7 details order-2 order-lg-1">
                                            <h3 style="text-align: center">Your Order</h3>
                                            <hr>
                                            {% for item in items %}
                                            <div class="cart-row">
                                                <section id="menu" class="menu section-bg">
                                                    <div class="container">
                                                        <img src="{{item.product.image.url}}" class="menu-img" alt="">
                                                        <div class="menu-content">
                                                            <a href="#">{{item.product.name}}</a><span>${{item.product.price|floatformat:2}}</span>
                                                        </div>
                                                        <div class="menu-ingredients">
                                                            <h4>&#215; {{item.quantity}}</h4>
                                                            <div class="quantity">
                                                                <img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}" height="20" weight="20">
                                                                <p> </p>
                                                                <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}" height="20" weight="20">
                                                            </div>
                                                        </div>
                                                        <div class="menu-ingredients">
                                                            <div class="btns">
                                                                <button data-product="{{item.product.id}}" data-action="remove" class="btn btn-sm btn-outline-success delete-btn update-cart" style="float: right;">Remove from Cart</button>
                                                            </div>
                                                        </div>
                                                </section>
                                            </div>
                                            {% endfor %}
                                            <hr>
                                            <h5 style="text-align: left; width:37%; display: inline-block;">Items: {{order.get_cart_items}}</h5>
                                            <h5 style="text-align: right; width:60%;  display: inline-block;">Total: ${{order.get_cart_total|floatformat:2}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-5">
                                    <div class="row">
                                        <div class="col-lg-12 details order-2 order-lg-1">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="box-element">
                                                        <div class="d-flex justify-content-center">
                                                            <h3>Order Summary</h3>
                                                        </div>
                                                        <hr>
                                                        {% for item in items %}
                                                        <div class="cart-row">
                                                            <section id="menu" class="menu section-bg">
                                                                <img src="{{item.product.image.url}}" class="menu-img" alt="">
                                                                <div class="menu-content">
                                                                    <a href="#">{{item.product.name}}</a><span>${{item.product.price|floatformat:2}}</span>
                                                                </div>
                                                                <div class="menu-ingredients">
                                                                    x{{item.quantity}}
                                                                </div>
                                                            </section>
                                                        </div>
                                                        {% endfor %}
                                                        <h5 style="float: right">Items: {{order.get_cart_items}}</h5>
                                                        <br>
                                                        <br>
                                                        <h5 style="float: right">Total: ${{order.get_cart_total|floatformat:2}}</h5>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="box-element" id="form-wrapper">
                                                        <form id="form">
                                                            <div id="user-info">
                                                                <br>
                                                                <br>
                                                                <br>
                                                                <div class="form-field">
                                                                    <input required class="form-control" type="text" name="name" placeholder="Name..">
                                                                </div>
                                                                <div class="form-field">
                                                                    <input required class="form-control" type="email" name="email" placeholder="Email..">
                                                                </div>
                                                            </div>
                                                            <div id="shipping-info">
                                                                <hr>
                                                                <p>Shipping Information:</p>
                                                                <hr>
                                                                <div class="form-field">
                                                                    <input class="form-control" type="text" name="address" placeholder="Address..">
                                                                </div>
                                                                <div class="form-field">
                                                                    <input class="form-control" type="text" name="city" placeholder="City..">
                                                                </div>
                                                                <div class="form-field">
                                                                    <input class="form-control" type="text" name="state" placeholder="State..">
                                                                </div>
                                                                <div class="form-field">
                                                                    <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                                                                </div>
                                                                <div class="form-field">
                                                                    <input class="form-control" type="text" name="country" placeholder="Zip code..">
                                                                </div>
                                                            </div>
                                                            <hr>
                                                            <input id="form-button" class="btn btn-success btn-block " type="submit" value="Continue">
                                                        </form>
                                                    </div>
                                                    <br>
                                                    <div class="box-element d-none" id="payment-info">
                                                        <small>Payment Options</small>
                                                        <button id="make-payment">Make Payment</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section><!-- End Specials Section -->
    </div>
    </section>
</main><!-- End #main -->
<script type="text/javascript">
var shipping = '{{order.shipping}}'
var total = '{{order.get_cart_total}}'

if (shipping == 'False') {
    document.getElementById('shipping-info').innerHTML = ''
}

if (user != 'AnonymousUser') {
    document.getElementById('user-info').innerHTML = ''
}

if (shipping == 'False' && user != 'AnonymousUser') {
    //Hide entire form if user is logged in and shipping is false
    $("#form-button").addClass('d-none');
    //Show payment if logged in user wants to buy an item that does not require shipping
    $("#payment-info").removeClass('d-none');
}


var form = document.getElementById('form')

form.addEventListener('submit', function(e) {
    e.preventDefault()
    console.log('Form Submitted...')


    $("#payment-info").removeClass('d-none');
    $("#form-button").addClass('d-none');

})

document.getElementById('make-payment').addEventListener('click', function(e) {
    submitFormData()
})

function submitFormData() {
    console.log('Payment button clicked')

    var userFormData = {
        'name': null,
        'email': null,
        'total': total,
    }

    var shippingInfo = {
        'address': null,
        'city': null,
        'state': null,
        'zipcode': null,
    }

    if (shipping != 'False') {
        shippingInfo.address = form.address.value
        shippingInfo.city = form.city.value
        shippingInfo.state = form.state.value
        shippingInfo.zipcode = form.zipcode.value

    }

    if (user == 'AnonymousUser') {
        userFormData.name = form.name.value
        userFormData.email = form.email.value
    }

    var url = "{% url 'process_order' restaurant.restname %}"
    fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'form': userFormData, 'shipping': shippingInfo })
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Success:', data);
            alert('Transaction completed');
            window.location.href = "{% url 'home' %}"
        })
}
</script>
{% endblock %}