{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<!-- Inner page header container -->
<main id="main">
    <section class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>{{restaurant.restname}}</h2>
                <ol>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>{{restaurant.restname}}</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- Inner page container -->
    <section class="inner-page">
        <div class="container">
            <div style="float: right;">
                <img src="{% static 'images/cart.png' %}" height="50" weight="50">
                <br>
                <h6 style="float: right" id="cart-total">Items: {{cartItems}}</h6>
            </div>
            <!-- ======= Specials Section ======= -->
            <section id="specials" class="specials">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                         <div class="row">
                        <h2>Specials</h2>
                        </div>
                        <div class="row">
                            <p>{{restaurant.restname}} </p>
                     
                            <form action="{% url 'favorite' restaurant.restname %}" method="POST">
                                {% csrf_token %}
                                {% if favorited %}
                                <button type="submit" name="favorite" value="{{ restaurant.restname }}" style=" border-color: transparent;  color: #cda45e; background-color: transparent; border-radius:50%"><i class="fas fa-heart fa-3x"></i></button>
                                {% else %}
                                <button type="submit" name="favorite" value="{{ restaurant.restname }}" style=" border-color: transparent; color: #cda45e; background-color: transparent; border-radius:50%"><i class="far fa-heart fa-3x"></i></button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-3">
                            <ul class="nav nav-tabs flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="tab" href="#tab-1">Menu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-2">Reviews</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-3">Photos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-4">Cart</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab-5">Checkout</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-9 mt-4 mt-lg-0">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="tab-1">
                                    <!-- ======= Menu Section ======= -->
                                    <section id="menu" class="menu section-bg">
                                        <div class="container" data-aos="fade-up">
                                            <div class="section-title">
                                                <h2>Menu</h2>
                                                <p>Check Our Tasty Menu</p>
                                            </div>
                                            <div class="row" data-aos="fade-up" data-aos-delay="100">
                                                <div class="col-lg-12 d-flex justify-content-center">
                                                    <ul id="menu-flters">
                                                        <li data-filter="*" class="filter-active">All</li>
                                                        <li data-filter=".filter-starters">Starters</li>
                                                        <li data-filter=".filter-salad">Salads</li>
                                                        <li data-filter=".filter-specialty">Specialty</li>
                                                        <li data-filter=".filter-desserts">Desserts</li>
                                                        <li data-filter=".filter-drinks">Drinks</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
                                                {% for starter in starters %}
                                                {% if starter.isVisible == True %}
                                                <div class="col-lg-6 menu-item filter-starters">
                                                    <img src="{{starter.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a href="#">{{starter.name}}</a><span>${{starter.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{starter.description}}
                                                    </div>
                                                    <div class="btns">
                                                        <button data-product="{{starter.id}}" data-action="add" class="btn btn-sm btn-outline-success add-btn update-cart" style="float: right;">Add to Cart</button>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                                {% for salad in salads %}
                                                {% if salad.isVisible == True %}
                                                <div class="col-lg-6 menu-item filter-salad">
                                                    <img src="{{salad.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a href="#">{{salad.name}}</a><span>${{salad.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{salad.description}}
                                                    </div>
                                                    <div class="btns">
                                                        <button data-product="{{salad.id}}" data-action="add" class="btn btn-sm btn-outline-success add-btn update-cart" style="float: right;">Add to Cart</button>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                                {% for specialty in specialties %}
                                                {% if specialty.isVisible == True %}
                                                <div class="col-lg-6 menu-item filter-specialty">
                                                    <img src="{{specialty.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a href="#">{{specialty.name}}</a><span>${{specialty.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{specialty.description}}
                                                    </div>
                                                    <div class="btns">
                                                        <button data-product="{{specialty.id}}" data-action="add" class="btn btn-sm btn-outline-success add-btn update-cart" style="float: right;">Add to Cart</button>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                                {% for dessert in desserts %}
                                                {% if dessert.isVisible == True %}
                                                <div class="col-lg-6 menu-item filter-desserts">
                                                    <img src="{{dessert.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a href="#">{{dessert.name}}</a><span>${{dessert.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{dessert.description}}
                                                    </div>
                                                    <div class="btns">
                                                        <button data-product="{{dessert.id}}" data-action="add" class="btn btn-sm btn-outline-success add-btn update-cart" style="float: right;">Add to Cart</button>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                                {% for drink in drinks %}
                                                {% if drink.isVisible == True %}
                                                <div class="col-lg-6 menu-item filter-drinks">
                                                    <img src="{{drink.image.url}}" class="menu-img" alt="">
                                                    <div class="menu-content">
                                                        <a href="#">{{drink.name}}</a><span>${{drink.price|floatformat:2}}</span>
                                                    </div>
                                                    <div class="menu-ingredients">
                                                        {{drink.description}}
                                                    </div>
                                                    <div class="btns">
                                                        <button data-product="{{drink.id}}" data-action="add" class="btn btn-sm btn-outline-success add-btn update-cart" style="float: right;">Add to Cart</button>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </section><!-- End Menu Section -->
                                </div>
                                <div class="tab-pane" id="tab-2">
                                    <div class="section-title">
                                        <h2>Reviews</h2>
                                        <a href="{% url 'add_review' restaurant.restname %}"> <button class="btn btn-lg btn-outline-success add-btn" style="float: right">Add a Review</button></a>
                                        <p>Reviews for {{restaurant.restname}}</p>
                                        <br>
                                        <ul>
                                            {% for review in reviews reversed %}
                                            <hr class='white'>
                                            <h4 style="color: #f0cd6c"><b>{{review.title}}</b></h4>
                                            <h6><b>{{review.author.name}} - </b>{{review.body}}</h6>
                                            <hr class='white'>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-3">
                                    <div class="section-title">
                                        <h2>Gallery</h2>
                                        <p>Photos from {{restaurant.restname}}</p>
                                        <br>
                                        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
                                            <div class="row no-gutters">
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image1.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image1.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image2.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image2.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image3.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image3.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image4.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image4.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image5.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image5.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image6.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image6.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image7.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image7.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-4">
                                                    <div class="gallery-item">
                                                        <a href="{{restaurant.image8.url}}" class="venobox" data-gall="gallery-item">
                                                            <img src="{{restaurant.image8.url}}" alt="" class="img-fluid">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-4">
                                    <div class="section-title">
                                        <h2>Cart</h2>
                                        <p>Your Order</p>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-7 details order-2 order-lg-1">
                                                {% for item in items %}
                                                <div class="cart-row">
                                                    <section id="menu" class="menu section-bg">
                                                        <div class="container">
                                                            <img src="{{item.product.image.url}}" class="menu-img" alt="">
                                                            <div class="menu-content">
                                                                <a href="#">{{item.product.name}}</a><span>${{item.product.price|floatformat:2}}</span>
                                                            </div>
                                                            <div class="menu-ingredients">
                                                                <h4>&#215; {{item.quantity}}</h4>
                                                                <div class="quantity">
                                                                    <img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up1.png' %}" height="20" weight="20">
                                                                    <h6> </h6>
                                                                    <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down2.png' %}" height="20" weight="20">
                                                                </div>
                                                            </div>
                                                            <div class="menu-ingredients">
                                                                <div class="btns">
                                                                    <button data-product="{{item.product.id}}" data-action="remove" class="btn btn-sm btn-outline-success delete-btn update-cart" style="float: right;">Remove from Cart</button>
                                                                </div>
                                                            </div>
                                                    </section>
                                                </div>
                                                {% endfor %}
                                                <hr>
                                                <h5 style="text-align: left; width:37%; display: inline-block;">Items: {{order.get_cart_items}}</h5>
                                                <h5 style="text-align: right; width:60%;  display: inline-block;">Total: ${{order.get_cart_total|floatformat:2}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-5">
                                    <div class="section-title">
                                        <h2>Checkout</h2>
                                        <p>Order Summary</p>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-12 details order-2 order-lg-1">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="box-element">
                                                            {% for item in items %}
                                                            <div class="cart-row">
                                                                <section id="menu" class="menu section-bg">
                                                                    <img src="{{item.product.image.url}}" class="menu-img" alt="">
                                                                    <div class="menu-content">
                                                                        <a href="#">{{item.product.name}}</a><span>${{item.product.price|floatformat:2}}</span>
                                                                    </div>
                                                                    <div class="menu-ingredients">
                                                                        x{{item.quantity}}
                                                                    </div>
                                                                </section>
                                                            </div>
                                                            {% endfor %}
                                                            <h5 style="float: right">Items: {{order.get_cart_items}}</h5>
                                                            <br>
                                                            <br>
                                                            <h5 style="float: right">Total: ${{order.get_cart_total|floatformat:2}}</h5>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="box-element" id="form-wrapper">
                                                            <form id="form">
                                                                <div id="user-info">
                                                                    <br>
                                                                    <br>
                                                                    <br>
                                                                    <div class="form-field">
                                                                        <input required class="form-control" type="text" name="name" placeholder="Name..">
                                                                    </div>
                                                                    <div class="form-field">
                                                                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                                                                    </div>
                                                                </div>
                                                                <div id="shipping-info">
                                                                    <h5>Shipping Information:</h5>
                                                                    <div class="form-field">
                                                                        <input class="form-control" type="text" name="address" placeholder="Address..">
                                                                    </div>
                                                                    <div class="form-field">
                                                                        <input class="form-control" type="text" name="city" placeholder="City..">
                                                                    </div>
                                                                    <div class="form-field">
                                                                        <input class="form-control" type="text" name="state" placeholder="State..">
                                                                    </div>
                                                                    <div class="form-field">
                                                                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                                                                    </div>
                                                                    <div class="form-field">
                                                                        <input class="form-control" type="text" name="country" placeholder="Zip code..">
                                                                    </div>
                                                                </div>
                                                                <hr>
                                                                <input id="form-button" class="btn btn-success btn-block " type="submit" value="Continue">
                                                            </form>
                                                        </div>
                                                        <br>
                                                        <div class="box-element d-none" id="payment-info">
                                                            <small>Payment Options</small>
                                                            <button id="make-payment">Make Payment</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</main><!-- End #main -->
<script type="text/javascript">
var shipping = '{{order.shipping}}'
var total = '{{order.get_cart_total}}'

if (shipping == 'False') {
    document.getElementById('shipping-info').innerHTML = ''
}

if (user != 'AnonymousUser') {
    document.getElementById('user-info').innerHTML = ''
}

if (shipping == 'False' && user != 'AnonymousUser') {
    //Hide entire form if user is logged in and shipping is false
    $("#form-button").addClass('d-none');
    //Show payment if logged in user wants to buy an item that does not require shipping
    $("#payment-info").removeClass('d-none');
}


var form = document.getElementById('form')

//hide button
form.addEventListener('submit', function(e) {
    e.preventDefault()
    console.log('Form Submitted...')


    $("#payment-info").removeClass('d-none');
    $("#form-button").addClass('d-none');

})

document.getElementById('make-payment').addEventListener('click', function(e) {
    submitFormData()
})

function submitFormData() {
    console.log('Payment button clicked')

    var userFormData = {
        'name': null,
        'email': null,
        'total': total,
    }

    var shippingInfo = {
        'address': null,
        'city': null,
        'state': null,
        'zipcode': null,
    }

    if (shipping != 'False') {
        shippingInfo.address = form.address.value
        shippingInfo.city = form.city.value
        shippingInfo.state = form.state.value
        shippingInfo.zipcode = form.zipcode.value

    }

    if (user == 'AnonymousUser') {
        userFormData.name = form.name.value
        userFormData.email = form.email.value
    }

    var url = "{% url 'process_order' restaurant.restname %}"
    fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'form': userFormData, 'shipping': shippingInfo })
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Success:', data);
            alert('Transaction completed');
            window.location.href = "{% url 'home' %}"
        })
}
</script>
{% endblock %}